<!doctype html>
<body>
<header>
    <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-7 py-4">
                    <h4 class="text-white">Навигация</h4>
                </div>
                <div class="col-sm-4 offset-md-1 py-4">
                    <li><a href="{% url 'main:homepage' %}" class="text-white">Главная</a></li>
                    {% if user.is_authenticated %}
                    {% if user.is_superuser %}
                    <li><a href="{% url 'admin:index' %}" class="text-white">Панель администратора</a></li>
                    {% endif %}
                    <li><a href="{% url 'users:profile' %}" class="text-white">Профиль</a></li>
                    <li><a href="{% url 'users:logout' %}" class="text-white">Выйти</a></li>
                    {% else %}
                    <li><a href="{% url 'users:login' %}" class="text-white">Войти</a></li>
                    <li><a href="{% url 'users:register' %}" class="text-white">Регистрация</a></li>
                    {% endif %}
                    <br>
                    <li><a href="{% url 'main:client_list' %}" class="text-white">Клиенты</a></li>
                    <li><a href="{% url 'main:mailing_list' %}" class="text-white">Рассылки</a></li>
                    <li><a href="{% url 'main:message_list' %}" class="text-white">Сообщения</a></li>
                    {% if perms.users.can_view_users_list and perms.users.can_block_user%}
                    <li><a href="{% url 'users:user_list' %}" class="text-white">Пользователи</a></li>
                    {% endif %}
                    <li><a href="{% url 'blog:blog_list' %}" class="text-white">Блог</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader"
                    aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
</header>


